<main id="myposts">
{{#each Posts}}
<article class="mypost-container">
    <a href="/posts/edit/{{id}}">
        <h3 class="saved-post">{{title}}</h3>
    </a>
    <div class="saved-post des">{{description}}</div>
 homepage
    <button class="aside-button"><img src="/images/edit.svg" class="mypost-icon"></button>

    <button onclick=" deleteFormHandler()" class="aside-button delete-button"><img src="/images/delete.svg" class="mypost-icon"></button>

    <button class="aside-button"><img src="/images/delete.svg" class="mypost-icon"></button>

    <a href="`/api/posts/${id}`"><button type="submit">Edit</button></a>
    <button>delete</button>
</article>
{{/each}}
</main>

<script src="/js/createPost.js"></script>
<script src="/js/editPost.js"></script>